/* DB Gill Siam X */
@font-face {
    font-family: 'AGaramond';
    src: url('../../fonts/AGaramondPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AGaramond';
    src: url('../../fonts/AGaramondPro-Bold.otf');
    font-weight: bold;
    font-style: normal;
}