body {
    margin: 0 auto;
    padding: 0px;

    color: #fff;
    background: #0c0a0d;
    font-family: 'AGaramond',serif;
    font-size: 14px;
    letter-spacing: 0.1em;
}

a {
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    &:link, &:visited {
        outline: none;
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.clear{clear: both;}
.no-padding{ 
    margin: 0px;
    padding: 0px;
}

.flexPC{
    display: flex;
}

.loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #0c0a0d;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;

}

@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}


@media (max-width: 992px) {
    body{
        font-size: 12px;
    }
    .flexPC{
        display: block;
    }
}


/*--FORM--*/
.form{
    padding: 0px;
    width: 90%;
}

.formgroup{
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.form-error{
    font-family: 'AGaramond',sans-serif;
    opacity: 1;
    &.help-block {
        position: absolute;
        right: 15px;
        // bottom: 2px;
        z-index: 1;
        display: block;
        font-size: 9.5px;
        letter-spacing: 1px;
        border: none;
        width: 80%;
        color: #f44336;
        text-align: right;
        text-transform: uppercase;
    }
}

.img{
    max-width: 100%;
}
.flex{
    display: flex;
}

@media (max-width: 991px) {
    .container{
        width: 100%;
        padding: 0px;
        .row{
            padding: 0px;
            margin: 0px;
        }
    }
    .no-padding-mobile{ 
        margin: 0px;
        padding: 0px;
    }
    .form{
        width: 100%;
    }
}

@media (min-width: 992px) {

    .no-padding-pc{ 
        margin: 0px;
        padding: 0px;
    }

}




