ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* PREFIXED CSS */

.dropdowns,
.dropdowns div,
.dropdowns li,
.dropdowns div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;

}

.dropdowns .selected::after,
.dropdowns.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */
.dropdowns{
	position: relative;
	width:100%;
	border: none;
	cursor: pointer;
	background: none;	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	color:#3c454a;
    font-size:14px;
	font-family: 'Open Sans',sans-serif;
}


.dropdowns.open{
	z-index: 2;
	opacity: 1;
}

.dropdowns:hover{
	/*box-shadow: 0 0 5px rgba(0,0,0,.15);*/
}

.dropdowns.focus{
	/*box-shadow: 0 0 5px rgba(51,102,248,.4);*/
	border:none
}

/* CARAT */

.dropdowns .carat{
	position: absolute;
	right: 5px;
	top: 25px;
	width: 9px;
	height: 6px;
	transition: all 0.3s;
	background: url('../../imgs/down.svg') no-repeat;
    background-size: 100%;
    z-index: -1;
}

.dropdowns.open .carat{
	transform: rotate(180deg);
}

/* OLD SELECT (HIDDEN) */

.dropdowns .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdowns select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdowns.touch .old{
	width: 100%;
	height: 100%;
}

.dropdowns.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}


/* SELECTED FEEDBACK ITEM */ 

.dropdowns .selected,
.dropdowns li{
	display: block;
	padding: 10px;
	overflow: hidden;
	white-space: nowrap;
	background:none;

	color:#3c454a;
    font-size:14px;
	font-family: 'Open Sans',sans-serif;
}
.dropdowns .selected{
    border-bottom: 1px solid #4a3832;
	padding-left: 1px;
	padding-top: 15px;

	
	
	color:#3c454a;
    font-size:14px;
	font-family: 'Open Sans',sans-serif;
	text-align: left;
}

.dropdowns.disabled .selected{
	content: '';
	background: none;   
}

.dropdowns .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}


/* DROP DOWN WRAPPER */

.dropdowns div{
	position: absolute;
	z-index: 2;
	height: 0;
	left: 0px;
	right: 0px;
	top: 35px;

	background: #1e1419;
	border-radius: 0px;
	overflow: hidden;
	opacity: 0;
	border: 1px solid #262626;

}

/* Height is adjusted by JS on open */

.dropdowns.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdowns.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	
	/*box-shadow: inset 0 -50px 30px -35px #262626;*/
}

.dropdowns.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdowns ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdowns.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdowns li{
	list-style: none;
	padding: 16px;
	background: none;
	border-bottom: 1px solid #262626;
	
	color: #fff;
	font-family: 'Open Sans',sans-serif;
	text-align: center;
}

/* .focus class is also added on hover */

.dropdowns li.focus{
	position: relative;
	z-index: 3;
	color: #9a8d6e;

}

.dropdowns li.active{
	color: #9a8d6e;
	margin: 0px;
}
