#footer{
	padding: 0 10%;
	margin-bottom: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.social{
		width: 25px;
	}
	.tel{
		font-size: 16px;
	    padding: 4px 15px 0;
    	border-right: 1px solid;
	}
	.policy{
		padding: 8px 15px 0;
    	font-size: 11px;

    	a{
    		margin-left: 15px;
    		text-decoration: underline;
    	}
	}
	.company{
		width: 15%;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;

	    a{
	    	width: 25%;
	    }
	    img{
	    	max-width: 100%;
	    }
	}
	#tabbar{
		display: none;
	}
	.tabbar.out{
		-webkit-animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.tabbar{
		position: fixed;
		display: flex;
	    justify-content: space-around;
		left: 0;
		bottom: 0;
		background: #0c0a0d;
		width: 100%;
		padding: 5%;
		z-index: 1;
		-webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

		&__item{
			text-align: center;
			display: flex;
		    align-items: center;

		    &--img{
		    	width: 14px;
	    	    margin-right: 10px;
		    }
		}
		&__border{
			content: '';
			border-right: 1px solid #005cac;
		}
	}

	@media (max-width: 992px) {
		padding: 0 7%;
		display: block;

		.social{
			display: block;
    		margin: 0 auto;
		}
		.tel{
		    display: block;
		    text-align: center;
		    border: 0;
		    padding: 0;
		    margin: 35px 0;
		    font-size: 20px;
		}
		.policy{
		    padding: 0;
		    font-size: 9px;
		    text-align: center;
	        margin-bottom: 35px;

			a{
			    display: block;
			    margin: 0;
			    margin-top: 10px 0 0;
			    text-align: center;
			}
		}
		.company{
			width: 50%;
		    margin: 0 auto;
		}
	}
}