#header{
	height: 15vh;
	padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #0c0a0d;

	.logo{
		-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	}
	@media (max-width: 992px) {
		padding: 0 7%;
		height: 20vh;
		justify-content: center;
	}
}
#header.center{
	justify-content: center;
}