#home{
	.banner{
		height: 85vh;
	    display: flex;
	    flex-wrap: wrap;
	    color: #000;
		padding: 0 10%;
	    background-color: #fff;
		background-image: url(../../imgs/banner.jpg);
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.promotion{
		width: 50%;
	    display: flex;
    	align-items: center;
    	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;

    	img{
    		cursor: pointer;
    		max-width: 90%;
    	}
	}
	.register{
		width: 50%;
		display: flex;
    	align-items: center;
    	justify-content: flex-end;

    	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;

    	&__remark{
    		font-size: 9px;
		    margin-top: 15px;
    	}
	}
	.submit{
		background: transparent;
	    border: 1px solid #000;
	    color: #000;
		line-height: 1em;
    	padding: 14px 0 12px 0;
	}
	.submit.bgcolor{
		color: #fff;
		background: #005eab;
		border: 0;
	}
	.radiogroup{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 9px;

		&__title{
			font-size: 11px;
			margin-bottom: 7px;

			.has-error{
				display: inline-block;
			    font-size: 9.5px;
			    color: #f44336;
			    opacity: 0;
			    text-transform: uppercase;
			    float: right;
			}
		}
		&__roomtype{
			width: 50%;
		}
		&__price{
			width: 33.33%;
		}
		label{
			margin: 5px 0;
		}
	}

	@media (max-width: 992px) {
		.banner{
			height: auto;
			padding: 0;
		    background-image: unset;
		}
		.promotion{
			width: 100%;
			height: 75vh;
		    padding: 15% 7%;
		    align-items: flex-start;
			background-image: url('../../imgs/banner_mobile.jpg');
		    background-attachment: scroll;
		    background-position: top center;
		    background-repeat: no-repeat;
		    background-size: cover;
		    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;

		    img{
		    	max-width: 100%;
		    }
		}
		.register{
			width: 100%;
			background: #e6e6e6;
			padding: 40px 5%;

			&__remark{
				margin: 0 0 20px;
			}

		}
		.radiogroup{
			&__price{
				width: 50%;
			}
		}
	}
}