#location{
	padding: 0 10%;
	text-transform: uppercase;

	.header{
		display: flex;
		flex-wrap: wrap;
		margin: 60px 0;

		&__title{
			width: 50%;
			display: flex;
		    align-items: center;
		    font-size: 26px;
		}

		&__control{
			width: 50%;
			display: flex;
			justify-content: flex-end;

			&--button{
				padding: 1em 1.7em;
			    border: 2px solid #005eab;
			    margin-left: 20px;
			    cursor: pointer;
			    line-height: 1em;
			}

			.active{
				background: #005eab;
			}
		}
	}

	.graphic_map{
		text-align: right;

		&__close{
			display: none;
		}

		img{
			width: 76%;
		}
	}
	.google_map{
		display: none;
		height: 450px;
	}

	.contact{
		display: flex;
		flex-wrap: wrap;
		padding: 60px 0;

		&__address{
			width: 50%;
		}
		&__direction{
			width: 50%;
			text-align: right;

			&--button{
				padding: 1em 1.7em;
			    border: 2px solid #005eab;
			    cursor: pointer;
		        display: inline-block;
		        line-height: 1em;
			}
		}
	}

	@media (max-width: 992px) {
		padding: 0 7%;

		.header{

			&__title{
				width: 100%;
				justify-content: center;
				margin-bottom: 40px;
			}

			&__control{
				width: 100%;
			    justify-content: space-between;

				&--button{
					margin: 0;
    				font-size: 14px;
    				width: 49%;
				    text-align: center;
				    padding: 1em 0;
				}
			}
		}

		.graphic_map{
			img{
				width: 100%;
			}
		}
		.google_map{
			height: 250px;
		}
		.zoom_map{
			display: flex;
		    justify-content: center;
		    align-items: baseline;
		    font-size: 10px;
		    margin-top: 40px;
    		cursor: pointer;

			img{
				height: 12px;
				margin-right: 5px;
			}
		}

		.contact{
			padding: 0;
			&__address{
				width: 100%;
				order: 1;
			    margin-bottom: 40px;
			}
			&__direction{
				width: 100%;
				text-align: center;
				padding: 40px 0;

				&--button{
					font-size: 14px;
				}
			}
		}

		.zoom{
			position: fixed;
		    background: rgba(0,0,0,0.9);
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    padding: 10px;
		    display: flex !important;
		    align-items: center;
    		overflow-x: scroll;
		    z-index: 10;
	        transform: unset;

	        .zoom__img{
		    	transform: scale(3) ;

		    	img{
		    		width: 67%;
		    	}
		    }

    		.graphic_map__close{
    			display: block;
    			position: fixed;
    			top: 20px;
    			right: 20px;

    			img{
				    transform: unset;
    			}
    		}
		    
		}
	}
}