#policy{
	background: #fff;
	color: #000;
    padding: 50px 10%;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;

    a{
    	color: #000;
    	&:link, &:visited,&:hover {
    		color: #000;
    	}
    }

    h1{
    	font-size: 22px;
	    text-transform: uppercase;
    }
    h2{
    	font-size: 16px;
	    text-transform: uppercase;
    }
    .detail{
    	margin-bottom: 25px;
    }
    .button{
	    padding: 13px 20px 10px 20px;
	    background: #005eab;
	    color: #fff !important;
	    display: inline-block;
	    margin-bottom: 10px;
	    line-height: 1em;
    }

	@media (min-width: 992px) {}
}