#thankyou{
	.banner{
		height: 85vh;
		background-image: url('../../imgs/thankbanner.jpg');
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    display: flex;
        justify-content: center;
    	align-items: center;
	    color: #000;

	    img{
	    	max-width: 100%;
	    }
	}
	.button{
		display: block;
		background: #005eab;
	    margin: 30px auto;
	    width: fit-content;
	    padding: 13px 20px;
	    line-height: 1em;
	}
	@media (max-width: 991px) {
		.banner{
			padding: 0 7%;
			height: 80vh;
			background-image: url('../../imgs/thankbanner_mobile.jpg');
		}
	}
}
